/* notification */
 .js-wishlist-show.wishlist__header__link { display: none; }
 .pct_notification {
     padding: 0 15px;
     color: #373125;
     position: relative;
     vertical-align: middle;
     height: 68px;
     display: inline-block;
     line-height: 68px;
     float: left;
}
     
.pct_notification .icon.icon-mail {
    font-weight: bold;
    font-size: 1.5em;
}
    
.pct_notification .icon.icon-mail:after {
    content: "1";
    font-family: Montserrat,arial,sans-serif;
    background: red;
    color: white;
    font-weight: bold;
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2em;
    font-size: .8em;
    border-radius: 1em;
    margin-left: -.5em;
    margin-top: -1.5em;
}
#pct_notif_div {
    visibility: hidden;
    opacity: 0;
    background-color: white;
    width: 500px;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    left: -250px;
    padding: 1em;
}
.pct_notification:hover  #pct_notif_div {
    visibility: visible;
    opacity: 1;
}
#pct_notif_div:hover {
    visibility: visible;
    opacity: 1;
}
.pct_notif_thumb {
    width: 250px;
    height: 250px;
}

/* top-message */
.pct_top-message {
    background-color: #444;
    color: white;
    text-align: center;
    line-height: 1.4em;
    padding: none;
    width: 100%;
}
.pct_top-message div {
    cursor: pointer;
    padding: 8px 10px 10px;
}
.pct_top-message span {
    font-size: 20px;
    color: #eb593f;
    font-style: italic;
    font-family: 'Leckerli One',arial,sans-serif!important;
}